<a href="https://colab.research.google.com/github/Nazianaseer77/3rd-project/blob/main/class_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tasks:
1. Create and Modify Lists
o Create a list called fruits with the items: "apple", "banana", "orange"
o Add "grape" to the end of the list using an appropriate method
o Insert "mango" at position 2 in the list
o Remove "banana" from the list o print the final list.

In [ ]:
# Task 1 : create and modify list

fruits = ["apple", "banana","orange"]
fruits.append("grapes")  # add grapes to the end
fruits.insert(2, "mango") # mango add position 2
fruits.remove("banana")  # remove banana
print("final fruit list", fruits)

final fruit list ['apple', 'mango', 'orange', 'grapes']

2. List Operations
o Create a list numbers with values: 10, 20, 30, 40, 50
o Create a second list more_numbers with values: 60, 70, 80
o Combine both lists into a new list called all_numbers
o Make a copy of all_numbers called numbers_copy
o Reverse the order of numbers_copy
o Print both all_numbers and numbers_copy

In [ ]:
# Task 2: List operations

numbers = [10, 20, 30, 40, 50]
more_numbers = [60, 70, 80]
all_numbers = numbers + more_numbers     # combine two list
numbers_copy = all_numbers.copy()        # make a copy
numbers_copy.reverse()                   # reversed the copy
print("All numbers:", all_numbers)
print("Reversed copy:", numbers_copy)

All numbers: [10, 20, 30, 40, 50, 60, 70, 80]
Reversed copy: [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting
o Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74
o Sort the list in ascending order
o Sort the list in descending order
o Count how many times 92 appears in the list
o Find and print the highest and lowest scores
o Print the sorted list

In [ ]:
# Task 3 Sorting and counting

scores = [85, 92, 78, 65, 92, 85, 74]
ascending_scores = sorted (scores)                  # Ascending sort
descending_scores = sorted (scores, reverse= True)  # descending sort
count_92 = scores.count(92)                         # count how many times 92 appears
heighest_scores = max(scores)
lowest_scores = min(scores)

print("sorted scores (asc):", ascending_scores)
print("sorted scores (desc):", descending_scores)
print("count of 92:",count_92)
print("Heighest score:" , heighest_scores)
print("lowest score:", lowest_scores)

sorted scores (asc): [65, 74, 78, 85, 85, 92, 92]
sorted scores (desc): [92, 92, 85, 85, 78, 74, 65]
count of 92: 2
Heighest score: 92
lowest score: 65

4. List Manipulation
o Create a list letters with values: "a", "b", "c", "d", "e"
o Use slicing to create a new list with only the first three letters
o Use slicing to create another list with only the last two letters
o Find and print the index of "c" in the list
o Replace "d" with "z" in the original list
o Print the modified list

In [ ]:
 # Task 4 List Manipulation

 letters = ["a", "b", "c", "d", "e"]
 first_three = letters[:3]
 last_two = letters [-2:]
 index_of_c = letters.index("c")
 letters[3] = "z"
 print("First three letters:",first_three)
 print("Last two letters:", last_two)
 print("index of 'c':", index_of_c)
 print("Modified letters list:", letters)

First three letters: ['a', 'b', 'c']
Last two letters: ['d', 'e']
index of 'c': 2
Modified letters list: ['a', 'b', 'c', 'z', 'e']

# Dictionary Methods **Practice**
Assignment Overview:
In this assignment, you will practice using different dictionary methods in Python.
Dictionaries are essential data structures that store key-value pairs and are widely used
in Python programming.

Tasks:
1. Create and Access Dictionaries

In [ ]:
# Task 1: Create and Access Dictionaries
student = {
    "name": "Ayan",
    "age": 25,
    "Grade": "A",
    "Courses": ["science","computer","Math"]
}

# Ascending value
print("student Names:", student ["name"])
print("Courses List:", student ["Courses"])

# Adding a new key-value pair
student["email"] = "ayan123@gmail.com"
print("Updated student dictionary:", student)

student Names: Ayan
Courses List: ['science', 'computer', 'Math']
Updated student dictionary: {'name': 'Ayan', 'age': 25, 'Grade': 'A', 'Courses': ['science', 'computer', 'Math'], 'email': 'ayan123@gmail.com'}

# 2. Modify Dictionary **Values**

In [ ]:
student = {
    "name": "Ayan",
    "age": 25,
    "Grade": "A",
    "Courses": ["science","computer","Math"]
}

# Ascending value
print("student Names:", student ["name"])
print("Courses List:", student ["Courses"])

# Adding a new key-value pair
student["email"] = "ayan123@gmail.com"
print("Updated student dictionary:", student)

# Task 2: Modify Dictionary values

student["age"] = 26                    # change age
student["Courses"].append("Biology")   # Add Course
student["Grade"] = "A+"                # update grade
print("update modify dictionary", student)

student Names: Ayan
Courses List: ['science', 'computer', 'Math']
Updated student dictionary: {'name': 'Ayan', 'age': 25, 'Grade': 'A', 'Courses': ['science', 'computer', 'Math'], 'email': 'ayan123@gmail.com'}
update modify dictionary {'name': 'Ayan', 'age': 26, 'Grade': 'A+', 'Courses': ['science', 'computer', 'Math', 'Biology'], 'email': 'ayan123@gmail.com'}

3. Dictionary Operations
o Create a second dictionary student_address with these key-value pairs:
 "street": "123 College Ave"
 "city": "New York"
 "zip": "10001"
o Combine both dictionaries into a new dictionary called student_info
o Remove the "zip" key from student_info
o Check if "phone" exists in the dictionary
o Print the final dictionary

In [ ]:
# Existing student dictionary

student = {
    "name": "Jhon",
    "age": 26,
    "grade": "A+",
    "Courses": ["science", "computer", "Math", "Biology"],
    "email": "jhon123@gmail.com"

}

# Step 1 : create the second dictionary
student_address = {
    "street": "123 college Ave",
    "city": "New york",
    "Zip": "10001"
}

# Step 2 : combine both dictioaries into a new one
student_info = {**student, **student_address}

# Step 3 : Remove the "Zip" key
student_info.pop("Zip", None)

# Step 4 : check if "phone" exists in the dictionary
phone_exists = "phone" in student_info
print("Does 'phone' exists in phone info?", phone_exists)

# step 5: print the final dictionary
print("final student_info Dictionary")
print(student_info)

Does 'phone' exists in phone info? False
final student_info Dictionary
{'name': 'Jhon', 'age': 26, 'grade': 'A+', 'Courses': ['science', 'computer', 'Math', 'Biology'], 'email': 'ayan123@gmail.com', 'street': '123 college Ave', 'city': 'New york'}

# 4. Dictionary **Methods**
o Create a dictionary word_count with these key-value pairs:
 "hello": 5
 "world": 10
 "python": 15
o Get all keys and print them as a list
o Get all values and print them as a list
o Get all key-value pairs and print them
o Make a copy of the dictionary
o Clear the original dictionary
o Print both dictionaries to verify one is empty and one is a copy

In [ ]:
# Step 1 : create the Dictionary

word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}

# step 2 : get all keys and print them as a list
keys = list(word_count.keys())
print("keys:", keys)

# Step 3: get all values and print them as a list
values = list(word_count.values())
print("values:", values)

# Step 4: get all key values pairs and print them
items = list(word_count.items())
print("key values pairs:", items)

# Step 5: Make a copy of the dictionary
word_count_copy = word_count.copy()

# Step 6: clear the original dictionary
word_count.clear()

# Step 7: print both dictionary to verify
print("Original Dictionary after clear():", word_count)
print("Copied dictionary remain un changed:", word_count_copy)

keys: ['hello', 'world', 'python']
values: [5, 10, 15]
key values pairs: [('hello', 5), ('world', 10), ('python', 15)]
Original Dictionary after clear(): {}
Copied dictionary remain un changed: {'hello': 5, 'world': 10, 'python': 15}

# Shopping Discount **Calculator**
Create a Python program that calculates the final price after applicable discounts. Do
not use any functions - just use variables and if statements.

In [ ]:
# Task 1: set up initial variables

purchase_amount = 120.00     #Example purchase amount
is_loyality_member = True
day_of_week = "saturday"
is_holiday_season = True

# store the original amount of display
original_amount = purchase_amount

# initialize total discount
total_discount = 0.0


# Task 2: Apply discount rules using if statements

# Rule 1: purchase amount discount
if purchase_amount > 100:
   discount = purchase_amount * 0.10
   print("10% discount for purchase over $100 applied: $", round(discount,2))
   total_discount += discount
elif purchase_amount > 50:
  discount = purchase_amount * 0.05
  print("5% discount for purchase over $50 applied: $" , round(discount,2))
  total_discount += discount


# Rule 2: Loyality member discount
if is_loyality_member:
  loyality_discount = purchase_amount * 0.05
  print("5% loyality member discount applied: $", round(loyality_discount,2))
  total_discount += loyality_discount

# Rule 3: weekend discount
if day_of_week == "saturday" or day_of_week == "Sunday":
  weekend_discount = purchase_amount * 0.02
  print("2% weekend discount applied: $", round(weekend_discount,2))
  total_discount += weekend_discount

# Rule 4: Holiday season discount
if is_holiday_season:
  holiday_discount = purchase_amount * 0.08
  print("8% holiday season discount applied: $", round(holiday_discount,2))
  total_discount += holiday_discount

# Task 3: calculate and display final price
final_price = purchase_amount - total_discount

print("\nOriginal purchase amount: $", round(original_amount,2))
print("Total discount applied : $" , round(total_discount,2))
print("Final price after discount: $", round(final_price,2))

10% discount for purchase over $100 applied: $ 12.0
5% loyality member discount applied: $ 6.0
2% weekend discount applied: $ 2.4
8% holiday season discount applied: $ 9.6

Original purchase amount: $ 120.0
Total discount applied : $ 30.0
Final price after discount: $ 90.0

# For Loop Assignment - Number **Patterns**
Write a Python program that generates the following patterns using for loops:
1. Pattern 1: Counting Numbers
o Print numbers from 1 to 10 on a single line

In [ ]:
# pattern 1: Counting Numbers

for i in range (1, 11):   # Range start from 1 and end before 11
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

# Pattern 2: Multiplication **Table**
 Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
# pattern 2: Multiplication Table

print("pattern 2: Multiplication Table for 5")
for i in range (1, 11):
  print(f'5 x {i} = {5 * i}')

pattern 2: Multiplication Table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# While Loop Assignment - Interactive **Game**
Write a Python program that:
1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number
3. Tells the player if their guess is too high or too low
4. Keeps asking until the player guesses correctly
5. Keeps track of how many guesses it took

In [ ]:
# Secret number guessing Game

secret_number = 29   # you can set this to any number between 1 to 50
guess = None
guess_count = 0

print("Welcome to the Guessing Number Game!")
print("Guess the secret number between 1 to 50.")

while guess != secret_number:
  guess = int(input("Enter your guess:"))
  guess_count += 1

  if guess < secret_number:
    print("Too low! Try again.")
  elif guess > secret_number:
    print("Too high! Try again.")
  else:
    print(f"Congratulation! you guess the number {secret_number} correctly in {guess_count} attempts.")

Welcome to the Guessing Number Game!
Guess the secret number between 1 to 50.
Enter your guess:49
Too high! Try again.
Enter your guess:32
Too high! Try again.
Enter your guess:25
Too low! Try again.
Enter your guess:27
Too low! Try again.
Enter your guess:29
Congratulation! you guess the number 29 correctly in 5 attempts.

# Student Grade Management **System**
1. Create a list to store information about students

In [5]:
# Student Grade Management System

# step 1: create list to store student data

students = [
   { "name": "Ayan",
    "id": 101,
    "grades":{
        "Maths":85,
        "science":75,
        "english":95
    }
},
{
    "name": "Irtesam",
    "id": 102,
    "grades": {
        "Maths": 96,
        "Science":88,
        "English": 78
    }
},
{
     "name": "Naseer",
     "id": 103,
     "grades": {
         "Maths": 98,
         "Science": 86,
         "English": 93
     }
}
]

# Step 2: Display all student with their grades
print("\nAll students and thier Grades:")
for student in students:
    print(f"Name: {student['name']}, ID {student['id']}, Grades {student['grades']}")

# Step 3: Display and Calculate Average Grade of each student.
print("\nAverage Grade  for each student:")
for student in students:
  grades = student["grades"].values()
  avg = sum(grades)/ len (grades)
  print(f"{student['name']} - Average Grade:,{round(avg, 2)}")

# Step 4: Find the student with the heighest Average Grade
top_student = None
heighets_avg = 0
for student in students:
  grades = student["grades"].values()
  avg = sum(grades)/ len (grades)
  if avg> heighets_avg:
    heighets_avg = avg
    top_student = student
print(f"\nTop student {top_student['name']} with Average Grade: {round(heighets_avg, 2)}")


# step 5: Student list with average grade above 80

print("\nStudents with average grade Above 80:")
for student in students:
  grades = student["grades"].values()
  avg = sum(grades)/ len(grades)
  if avg > 80:
    print(f"{student['name']} - Average: {round(avg, 2)}")

# Step 6: Calculate average grade for specific course (e.g, Math)

course_name = "Math"
total = 0
count = 0
for student in students:
  if course_name in student ["grades"]:
    total += student ["grades"][course_name]
    count += 1

if count > 0:
  course_avg = total / count
  print(f"\nAverage grade for {course_name}: {round (course_avg, 2)}")
else:
  print(f"\n No Data found for course: {course_name}")


# Step 7: Add a new student to the system

new_student = {
    "name": "David lee",
    "id": 104,
    "grades":{
        "Math":89,
        "Science":90,
        "English": 86,
    }
}

students.append(new_student)
print(f"\nNew student {new_student['name']} added successfully!")

# Final display of all student data

print("\nupdated student list:")
for student in students:
  print(f"Name: {student['name']} id: {student['id']} Grades: {student['grades']}")

All students and thier Grades:
Name: Ayan, ID 101, Grades {'Maths': 85, 'science': 75, 'english': 95}
Name: Irtesam, ID 102, Grades {'Maths': 96, 'Science': 88, 'English': 78}
Name: Naseer, ID 103, Grades {'Maths': 98, 'Science': 86, 'English': 93}

Average Grade  for each student:
Ayan - Average Grade:,85.0
Irtesam - Average Grade:,87.33
Naseer - Average Grade:,92.33

Top student Naseer with Average Grade: 92.33

Students with average grade Above 80:
Ayan - Average: 85.0
Irtesam - Average: 87.33
Naseer - Average: 92.33

 No Data found for course: Math

New student David lee added successfully!

updated student list:
Name: Ayan id: 101 Grades: {'Maths': 85, 'science': 75, 'english': 95}
Name: Irtesam id: 102 Grades: {'Maths': 96, 'Science': 88, 'English': 78}
Name: Naseer id: 103 Grades: {'Maths': 98, 'Science': 86, 'English': 93}
Name: David lee id: 104 Grades: {'Math': 89, 'Science': 90, 'English': 86}